<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<!-- Mirrored from getbootstrapadmin.com/remark/material/base/tables/basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Jan 2021 17:10:45 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>@ViewData["Title"] - HEALTH</title>

    <link rel="apple-touch-icon" href="~/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/global/css/bootstrap.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/global/css/bootstrap-extend.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/assets/css/site.minfd53.css?v4.0.1">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/global/vendor/animsition/animsition.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/global/vendor/asscrollable/asScrollable.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/global/vendor/switchery/switchery.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/global/vendor/intro-js/introjs.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/global/vendor/slidepanel/slidePanel.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/global/vendor/flag-icon-css/flag-icon.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/global/vendor/waves/waves.minfd53.css?v4.0.1">

    <!-- Page -->
    <link rel="stylesheet" href="~/assets/examples/css/tables/basic.minfd53.css?v4.0.1">

    <!-- Fonts -->
    <link rel="stylesheet" href="~/global/fonts/material-design/material-design.minfd53.css?v4.0.1">
    <link rel="stylesheet" href="~/global/fonts/brand-icons/brand-icons.minfd53.css?v4.0.1">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700">


    <!--[if lt IE 9]>
      <script src="~/global/vendor/html5shiv/html5shiv.min.js?v4.0.1"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/global/vendor/media-match/media.match.min.js?v4.0.1"></script>
      <script src="~/global/vendor/respond/respond.min.js?v4.0.1"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/global/vendor/breakpoints/breakpoints.minfd53.js?v4.0.1"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition ">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse bg-green-600"   role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon md-more" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" src="~/assets/images/healthlogo.png" title="HEALTH">
                <span class="navbar-brand-text hidden-xs-down">HEALTH</span>
            </div>

        </div>

        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="nav-item hidden-float" id="toggleMenubar">
                        <a class="nav-link" data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="scale-up" role="button">
                            <span class="avatar avatar-online">
                                <img src="~/global/portraits/5.jpg" alt="...">
                                <i></i>
                            </span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Mon Profil</a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-card" aria-hidden="true"></i> Tâches</a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Paramètres</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Se déconnecter</a>
                        </div>
                    </li>                   
                   
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            
        </div>
    </nav>
    <div class="site-menubar site-menubar-light">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu" data-plugin="menu">
                        <li class="site-menu-category"></li>
                        <li class="site-menu-item">
                            <a href="~/index.html">
                                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                                <span class="site-menu-title" style="font-weight :900">ACCUEIL</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-money-box" aria-hidden="true"></i>
                                <span class="site-menu-title" style="font-weight :900">CAISSE</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a href="~/layouts/menu-collapsed.html">
                                        <span class="site-menu-title" style="font-weight :600">PAIEMENT</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a href="~/layouts/menu-expended.html">
                                        <span class="site-menu-title" style="font-weight :600">SITUATION</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a href="~/layouts/grids.html">
                                        <span class="site-menu-title" style="font-weight :600">AFFECTATION</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-shopping-cart-plus" aria-hidden="true"></i>
                                <span class="site-menu-title" style="font-weight :900">STOCK</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a href="javascript:void(0)">
                                        <span class="site-menu-title"style="font-weight :600">PRODUITS</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>

                                </li>
                                <li class="site-menu-item">
                                    <a href="javascript:void(0)">
                                        <span class="site-menu-title" style="font-weight :600">CATEGORIES</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>

                                </li>
                            </ul>
                        </li>

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon ion-md-happy" aria-hidden="true"></i>
                                <span class="site-menu-title" style="font-weight :900">SOINS</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a href="javascript:void(0)">
                                        <span class="site-menu-title"style="font-weight :600">SOINS</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>

                                </li>
                                <li class="site-menu-item">
                                    <a href="javascript:void(0)">
                                        <span class="site-menu-title"style="font-weight :600">TYPE SOINS</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>

                                </li>
                            </ul>
                        </li>

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon ion-md-contacts" aria-hidden="true"></i>
                                <span class="site-menu-title" style="font-weight :900">RENDEZ-VOUS</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                    <a href="javascript:void(0)">
                                        <span class="site-menu-title" style="font-weight :600">DISPONIBILITE</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>

                                </li>
                                <li class="site-menu-item">
                                    <a href="javascript:void(0)">
                                        <span class="site-menu-title" style="font-weight :600">PLANNING</span>
                                        <span class="site-menu-arrow"></span>
                                    </a>

                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item ">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-account" aria-hidden="true"></i>
                                <span class="site-menu-title"style="font-weight :900">UTILISATEURS</span>
                                <span class="site-menu-arrow"></span>
                            </a>

                        </li>
                        <li class="site-menu-item ">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon md-accounts-list" aria-hidden="true"></i>
                                <span class="site-menu-title" style="font-weight :900">PROFILS</span>
                                <span class="site-menu-arrow"></span>
                            </a>

                        </li>


                    </ul>

                </div>
            </div>
        </div>

    </div>
    <div class="site-gridmenu">
        <div>
            <div>
                <ul>
                    <li>
                        <a href="../apps/mailbox/mailbox.html">
                            <i class="icon md-email"></i>
                            <span>CAISSE</span>
                        </a>
                    </li>
                    <li>
                        <a href="../apps/calendar/calendar.html">
                            <i class="icon md-calendar"></i>
                            <span>SOINS</span>
                        </a>
                    </li>
                    <li>
                        <a href="../apps/contacts/contacts.html">
                            <i class="icon md-account"></i>
                            <span>STOCK</span>
                        </a>
                    </li>
                    <li>
                        <a href="../apps/media/overview.html">
                            <i class="icon md-videocam"></i>
                            <span>UTILISATEURS</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>


    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h3 class="page-title">@ViewData["Title"]</h3>
            <div class="page-header-actions">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Accueil</a></li>
                    @*<li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>*@
                    @*<li class="breadcrumb-item active">Basic</li>*@
                </ol>
            </div>
        </div>

        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    @RenderBody()
                </div>
            </div>
  
        </div>
    </div>
    <!-- End Page -->
    
    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-footer-legal">© 2021 <a asp-area="" asp-controller="Home" asp-action="Index">HEALTH</a></div>
        @*<div class="site-footer-right">
            Une creation  <i class="red-600 icon md-favorite"></i> de <a href="https://www.linkedin.com/in/pierre-gbenyon/">Pierre GBENYON</a>
        </div>*@
    </footer>
    <!-- Core  -->
    <script src="~/global/vendor/babel-external-helpers/babel-external-helpersfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/jquery/jquery.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/popper-js/umd/popper.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/bootstrap/bootstrap.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/animsition/animsition.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/mousewheel/jquery.mousewheel.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/asscrollbar/jquery-asScrollbar.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/asscrollable/jquery-asScrollable.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/ashoverscroll/jquery-asHoverScroll.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/waves/waves.minfd53.js?v4.0.1"></script>

    <!-- Plugins -->
    <script src="~/global/vendor/switchery/switchery.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/intro-js/intro.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/screenfull/screenfull.minfd53.js?v4.0.1"></script>
    <script src="~/global/vendor/slidepanel/jquery-slidePanel.minfd53.js?v4.0.1"></script>

    <!-- Plugins For This Page -->
    <script src="~/global/vendor/peity/jquery.peity.minfd53.js?v4.0.1"></script>

    <!-- Scripts -->
    <script src="~/global/js/State.minfd53.js?v4.0.1"></script>
    <script src="~/global/js/Component.minfd53.js?v4.0.1"></script>
    <script src="~/global/js/Plugin.minfd53.js?v4.0.1"></script>
    <script src="~/global/js/Base.minfd53.js?v4.0.1"></script>
    <script src="~/global/js/Config.minfd53.js?v4.0.1"></script>

    <script src="~/assets/js/Section/Menubar.minfd53.js?v4.0.1"></script>
    <script src="~/assets/js/Section/GridMenu.minfd53.js?v4.0.1"></script>
    <script src="~/assets/js/Section/Sidebar.minfd53.js?v4.0.1"></script>
    <script src="~/assets/js/Section/PageAside.minfd53.js?v4.0.1"></script>
    <script src="~/assets/js/Plugin/menu.minfd53.js?v4.0.1"></script>

    <!-- Config -->
    <script src="~/global/js/config/colors.minfd53.js?v4.0.1"></script>
    <script src="~/assets/js/config/tour.minfd53.js?v4.0.1"></script>
    <script>
        Config.set('assets', '~/assets');
    </script>

    <!-- Page -->

    <script src="~/assets/js/Site.minfd53.js?v4.0.1"></script>
    <script src="~/global/js/Plugin/asscrollable.minfd53.js?v4.0.1"></script>

    <script src="~/global/js/Plugin/slidepanel.minfd53.js?v4.0.1"></script>
    <script src="~/global/js/Plugin/switchery.minfd53.js?v4.0.1"></script>

    <script src="~/global/js/Plugin/peity.minfd53.js?v4.0.1"></script>
    <script src="~/global/js/Plugin/asselectable.minfd53.js?v4.0.1"></script>
    <script src="~/global/js/Plugin/selectable.minfd53.js?v4.0.1"></script>
    <script src="~/global/js/Plugin/table.minfd53.js?v4.0.1"></script>


    <script src="~/assets/examples/js/charts/peity.minfd53.js?v4.0.1"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
